@import "tailwindcss";

@theme {
  --color-primary: #8a2be2;
  --color-primary-dark: #6a1bb2;
  --color-bg: #0f0f17;
  --color-surface: rgba(255, 255, 255, 0.05);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: #fff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
